.card-container {
  background-color: #c183ff;
  padding: 13px 14px;
  width: 220px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  .img {
    border-radius: 5px;
    background-color: aqua;
    height: 100px;
    width: 100%;
  }
  .card-thumbnail-icon {
    display: flex;
    justify-content: space-between;
    .icon-thumbnail {
      display: flex;
      align-items: center;
      gap: 5px;
      .img {
        width: 20px;
        height: 20px;
        background-color: black;
        border-radius: 100%;
      }
    }
  }
}
