.container {
  width: 100%;
  height: 100%;
  padding: 25px 30px;
  overflow-y: scroll;
  .episodesContainer {
    min-height: 100%;
    width: 100%;
    background-color: #1a1a1d;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
    gap: 20px;
    h2 {
      text-transform: capitalize;
      color: #f2f3f4;
    }
    .card {
      display: flex;
      row-gap: 15px;
      column-gap: 7px;
      flex-wrap: wrap;
    }
  }
}
