* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.podcaste-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;

  .para {
    z-index: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: rgba(41, 44, 36, 0.844);
  }

  .left-container {
    background-color: #1a1a1d;
    width: 18%;
    height: 100%;

    .left-container-top {
      height: 10%;
      padding: 10px 12px;
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 25px;
      }

      span {
        font-weight: bold;
        font-size: 22px;
        color: #cc83ff;
      }
    }

  }

  .right-container {
    width: 88%;
    height: 100%;
    background-color: #3b1c32;

    .right-container-top {
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 55px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px 0px;
      .threedashIcon {
        fill: #a64d79;
        cursor: pointer;
      }
    }

    .right-container-bottom {
      width: 100%;
      height: 90%;
    }
  }
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cc83ff;
  border-radius: 10px;
}
