.your-profile-container {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 25px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  .your-profile-top1 {
    display: flex;
    align-items: center;
    gap: 50px;
    .email-and-name {
      h2 {
        font-size: 25px;
        font-weight: 700;
      }
      p {
        margin-top: 7px;
        text-decoration: underline;
        font-size: 18px;
      }
    }
  }

  .your-profile-top2,
  .your-favourites-top2 {
    width: 100%;
    height: 100%;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    h2 {
      align-self: flex-start;
    }
    .yourPodcast {
      display: flex;
      gap: 20px;
      flex-wrap: nowrap;
      overflow-y: scroll;
    }
  }
}
