.podcastUserDetails {
  padding: 25px 30px;
  width: 100%;
  height: 100%;
  color: #ffffffd2;

  .podcaster {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 25px 30px;
    background-color: #1a1a1d;
    border-radius: 7px 7px 0 0;

    .userDetails {
      .name {
        h2 {
          display: inline-block;
          margin-right: 5px;
        }
      }
      p {
        color: #2b6fc2;
      }
    }
  }

  .allEpisods {
    border-radius: 0 0 7px 7px;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    background-color: #1a1a1d;
    padding: 20px 25px;

    .episode {
      cursor: pointer;
      margin-bottom: 10px;
      padding: 10px 20px;
      border-radius: 10px;
      display: flex;
      gap: 20px;
      background-color: #1a1a1d;
      border: 1px dotted #a64d79;

      .episodeThumbnail {
        height: 100px;
        width: 200px;
        border-radius: 7px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .episodeDetails {
        display: flex;
        padding: 10px 0;
        flex-direction: column;
        gap: 4px;
        .logo {
          display: flex;
          align-items: center;
          gap: 5px;
          span {
            font-size: 12px;
          }
        }
        .channelDetails {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #a64d79;
        }
      }
      transition: all 0.3s;
      &:hover {
        box-shadow: 0px 9px 30px rgba(255, 151, 5, 0.126);
        transform: translateY(-5px);
      }
    }
  }
}

.episode.audio:hover::after {
  background-color: #cc83ff;
  position: absolute;
  font-size: 26px;
  padding: 10px;
  border-radius: 100%;
  right: 20px;
  top: 40.5%;
  color: black;
  content: "🎵";
}

.episode.video:hover::after {
  background-color: #cc83ff;
  position: absolute;
  font-size: 26px;
  padding: 10px;
  border-radius: 100%;
  right: 20px;
  top: 40.5%;
  color: black;
  content: "▶️";
}
