.Dashboard-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 20px 30px 0px 20px;
}

.dashboard-child-container {
  box-shadow: 0px 0px 1px #fff;
  background-color: #171717;
  padding: 25px 30px;
  width: 95%;
  margin: 20px auto;
  border-radius: 10px;
  overflow-y: hidden;
  .child-top {
    display: flex;
    justify-content: space-between;
    h3 {
      color: white;
    }
    span {
      cursor: pointer;
      font-size: 14px;
      color: rgb(242, 252, 231);
    }
  }
  .child-bottom-content {
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
