.videoContainer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.732);
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 50px 0;
   .videos {
    width: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .videoDisplay {
      border: 1px solid #a64d79;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;

      border-radius: 10px;
      background-color: #1a1a1d;
      z-index: 1;
      padding: 40px 0;
      width: 100%;
      height: 80%;
      .responsiveVideo {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .close {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;

      padding: 20px;
      border-radius: 100%;
      background-color: #1a1a1d;
      cursor: pointer;
      border: 1px solid #a64d79;

      &:active {
        background-color: red;
        border: 1px solid #a64d79;
      }
    }
  }
}
