.uploadContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.83);
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  bottom: 0;

  .uploadVideoAudio {
    width: 40%;
    background-color: #1a1a1d;
    border-radius: 15px;
    padding: 15px 25px;
    color: #1a1a1d;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 5px black;

    h2 {
      color: #a64d79;
    }
    .upload-1 {
      height: 10%;
      display: flex;
      justify-content: space-between;
      span {
        cursor: pointer;
      }
    }

    .upload-container,
    .podVideoContainer {
      height: 90%;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      p {
        color: #fff;
      }
    }

    .upload-container {
      .upload-selection-box {
        display: flex;
        gap: 10px;
        width: 100%;

        .selection-box {
          width: 50%;
          border: 2px dotted rgb(242, 241, 241);
          padding: 12px 16px;
          border-radius: 10px;
          background-color: #1a1a1d;
          outline: none;
          color: #a64d79;
        }
      }
    }
    .podVideoContainer {
      .buttons {
        display: flex;
        gap: 20px;
        :nth-child(1),
        :nth-child(2) {
          flex: 1;
        }
      }
    }

    input,
    textarea {
      border: 2px dotted rgb(242, 241, 241);
      padding: 12px 16px;
      border-radius: 10px;
      background-color: #1a1a1d;
      outline: none;
      color: #a64d79;
    }
    textarea::placeholder {
      color: #ffffff81;
    }

    input::placeholder {
      color: #ffffff81;
    }
  }

  .file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 10px;
    border: 2px dotted rgb(242, 241, 241);
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: #fff;
    p {
      span {
        margin-right: 10px;
      }

      label {
        cursor: pointer;
        color: blue;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
